*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* shared css */
 .btn{
border-style: none;
padding: 12px 16px;
font-size: 16px;
font-weight: 500;
border-radius: 4px;
color: #FFFFFF;
background-color: #469165;
cursor: pointer;
/* margin-right: 10px; */
margin-bottom: 16px ;

} 

.btn:hover{
    color: aquamarine;
    background-color: rgb(118, 46, 118);
}
 .btn img{
  margin-left: 10px;
 }

/* navigation-section */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navigation{
padding: 16px 120px;
display: flex;
justify-content: space-between;
align-items: center;
}

.navigation .navbar ul{
    display: flex; 
}

.navigation .navbar ul li{
    list-style: none;
    margin-right: 32px;   
}


 
/* header-section */
.banner-section{
  background-image: url(../assets/hero-bg.png);
}

.all-content{
  padding: 115px 120px 180px 120px;
  text-align: center;
  align-items: center;
}

.all-content .top-head p{
   width: 229px;
padding: 8px 12px;
  border-radius: 1000px;
  color: #469165;
  background-color: #f4efef;
  margin-bottom: 16px;
 
}
img p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center ;
}

.all-content .top-head{
  display: flex;
  justify-content: center;

}

.all-content .content h1{
   font-size: 48px;
   color: #FFFFFF;
   margin-bottom: 16px;
}
.all-content .content h1 span{
  color: #30B868;
}
.all-content .content p{
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 32px;
}


.btn1{

padding: 11px 16px;
font-size: 16px;
font-weight: 500;
border-radius: 4px;
color: #FFFFFF;
background-color: transparent;
cursor: pointer;
border-top: 1px solid white;
border-left: 1px solid white;
border-right: 1px solid white;
border-bottom: 1px solid white;
margin-left: 10px;

}

.btn1:hover{
    color: aquamarine;
    background-color: rgb(118, 46, 118);
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
 text-align: center;
}
.button .btn {
  display: flex;
  margin-top: 14px;
  
}
.button .btn1 {
  display: flex;
  justify-content: center;
  align-items: start;
  
}
.button .btn1 img{
  margin-right: 10px;
}

  /* notes section */
 .note{
  background-color: #fafafa;
}
.notes-section, .card-section, .second-brain{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  
}

.heading{
  text-align: center;
  margin-top: 0px;
  padding-top: 40px;
}
.heading h1{
  
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}

.heading p{
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-bottom: 44px;
}

/* cards-section */

.notes-card{

  display: flex;
  justify-content: space-between;
  align-items: end;
  text-align: center;
  gap: 24px;
}

.cards{
  padding: 24px;
  background-color: #FFFFFF;
  box-shadow: 0 0 8px 0 #00000006;
  
}
.image-color{
     
   width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F95555;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cards .image-color{

   margin: 0px auto;
  padding: 0px auto;
}

.cards h3{
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  margin: 16px 0;
}

.cards p{
  color: #627382;
  font-size: 16px;
  line-height: 20px;
}

/* second-brain */

.second{
padding: 120px 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 60px;
}
.second-brain .brain-content{
  padding: 120px 0;
}

.brain-content{
  text-align: left;
  align-items: start;
}
.second-brain .brain-content .solution{
  color: #469165;
  margin-bottom: 16px;
}

.second-brain .brain-content h2{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.second-brain .brain-content p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}

.second-brain .brain-content ul li{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
 margin-bottom: 16px;
}

 li{
  line-height: 16px;
}

/* challenge section */


.challenge .challenge-section{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto 120px auto;
  border-radius: 12px;
  background-color: #F7F6F2;
  padding: 80px 40px;
  text-align: center;
}

.challenge .challenge-section h2{
  font-size: 40px;
  margin-bottom: 16px;
}

.challenge .challenge-section p{
  line-height: 24px;
  color: #627382;
  margin-bottom: 5px;
}

/* footer section */
.footer{
  background-color: #001931;
  
}

.footer .foot{
   width: 85%;
  max-width: 1360px;
  margin: 0 auto ;
  padding-top: 120px;
  padding-bottom: 80px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;

}
.social{
  
  padding-right: 60px;

 
}

.social p{
  line-height: 28px;
  font-size: 20px;
  margin-bottom: 15px;
}
.social .icons{
  display: flex;
  justify-content: space-evenly;
  
 
}


.icons .color-icons{
  margin-right: 6px;
}
hr{
  width: 85%;
  max-width: 1360px;
  margin: 0px auto;
  color: #FAFAFA;
  
}
.footer .caption1 {
    width: 85%;
  max-width: 1360px;
  margin: 0px auto;
 padding-bottom: 30px;

}
.footer .caption1 p{
  text-align: center;
  padding-top: 30px;
  color: #FFFFFF;
}

