*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* shared css */
.btn{
    border-style: none;
padding: 12px 16px;
font-size: 16px;
font-weight: 500;
border-radius: 4px;
color: #FFFFFF;
background-color: #469165;
cursor: pointer;
}

.btn:hover{
    color: aquamarine;
    background-color: rgb(118, 46, 118);
}

/* navigation-section */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navigation{
padding: 16px 120px;
display: flex;
justify-content: space-between;
align-items: center;
}

.navigation .navbar ul{
    display: flex; 
}

.navigation .navbar ul li{
    list-style: none;
    margin-right: 32px;   
}

/* header-section */
header{
   /* width: 100%; */
    /* height: 674px; */
    margin-bottom: ;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    
}

 header .banner-section{
    width: 85%;
    max-width: 1360px;
  margin: 0 auto;
  padding: 120px 0;
    text-align: center;
     align-items: center;
  
}

.top-head{
   
    padding: 8px 12px;
    background-color: #FFFFFF;
    color: #276941;
    margin-bottom: 16px;
    text-align: center;
}

.top-head img{
 
  align-items: center;
  text-align: center;
}

 header .banner-section h1{
    color: #FFFFFF;
    margin-bottom: 16px;
 }

 header .banner-section h1 span{
    color: #30B868;
    opacity: 90%;
    margin-bottom: 16px;
 }


  header .banner-section .content p{
   
    font-size: 18px;
     color: #FFFFFF;
     line-height: 24px;
     margin-bottom: 32px;
    
  }
  .btn1{
    padding: 12px 16px;
   
	
  }
  .button .btn img{

justify-content: center;
align-items: center;
  }

  /* notes section */

.notes-section, .card-section{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  
}

.heading{
  text-align: center;
  margin-top: 40px;
}
.heading h1{
  
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}

.heading p{
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-bottom: 44px;
}

/* cards-section */

.notes-card{

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.cards{
  padding: 24px;
  /* margin-bottom: 16px; */
  box-shadow: 0 0 8px 0 #00000010;
  
}
.image-color{
     
   width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F95555;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cards .image-color{

   margin: 0px auto;
  padding: 0px auto;
}

.cards h3{
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  margin: 16px 0;
}

.cards p{
  color: #627382;
  font-size: 16px;
  line-height: 20px;
}